:root {
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.3rem;
    font-size: 15px;
    font-family: 'Red Hat Display', sans-serif;
    height: 100vh;
    text-align: center;
    background-color: var(--Pale-blue);
    color: var(--Desaturated-blue);

    background-image: url(../images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    width: 100%;
    max-width: 300px;
    border-radius: 15px;
    overflow: hidden;
    background-color: var(--white);
    box-shadow: 0 20px 20px 0 hsla(245, 75%, 52%,0.2);
}

.illustration-image {
    width: 100%;
}

.content {
    padding: 1.5em;
}

h2 {
    margin-bottom: 1rem;
    color: var(--Dark-blue);
    font-weight: 900;
}

.paragraph {
    margin-bottom: 2rem;
    font-weight: 500;
}

.subscription {
    background-color: var(--Very-pale-blue);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: .625em;
    font-size: .75rem;
    font-weight: 700;
    margin-bottom: 2em;
}

.annual-plan {
    color: var(--Dark-blue);
    font-weight: 900;
}

.music-icon {
    max-width: 20%;
    padding-right: 1em;
}


.change-link {
    align-self: center;
    margin-left: 4em;
}

.change-link a {
    cursor: pointer;
    color: var(--Desaturated-blue);
}

.buttons {
    display: flex;
    flex-direction: column;
    font-weight: 700;
}

.proceed-button {
    border: none;
    background-color: var(--Bright-blue);
    color: white;
    padding: .625em 2em;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: 0 20px 20px 0 rgba(142, 139, 173, 0.2);
}

.buttons a {
    text-decoration: none;
    cursor: pointer;
}

.cancel-button {
    color: var(--Desaturated-blue);
}

@media only screen and (min-width: 765px) {
    body {
        
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    }
}